<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Decks</title>

    {%load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{%static 'flashserver/css/main.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $(".delete_deck").click(function(e) {
        if($(this).text() == "Delete") {
          $(this).text("Confirm");
          $(this).css("color", "red");
          $(this).parent().css("color", "red");
        }
        else {
          let decknum = $(this).parent().attr("decknum")

          $.ajax({
            url: '/decks/'+decknum,
            type: 'DELETE',
            success: function(result) {
                // Do something with the result
              console.log(result.success)
              if(result.success == true) {
                $("#decknum"+decknum).hide()
              }
              else {
                alert("Deck not found!");
              }
            }
          });
        }
      });
    });
    </script>
  </head>
  <body>
    Decks:
    <ol>
      {%for deck in decks%}
      <li id="decknum{{deck.id}}" decknum={{deck.id}}><a href='/viewdeck/{{deck.id}}'>{{deck.name}}</a> ({{deck.cards.count}} cards) <button class="delete_deck" name="{{deck.id}}">Delete</button></li>
      {%endfor%}
    </ol>
    <form action='decks' method='post'>
      <table>
        <tbody>
          <tr>
            <td>Name:</td>
            <td><input type='text' name='name'></td>
          </tr>
        </tbody>
      </table>
      <input type='submit' value="Create">
    </form>
  </body>
</html>
